body {
    background-color: cadetblue;
}

#message-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#form {
    /* position: fixed; */
    padding-top: 50px;
}

#message-container>p {
    width: fit-content;
    display: flex;
    margin: 4px;
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding-right: 5px;
    padding-left: 5px;
    animation-duration: 600ms;
    animation-name: fadeIn;
    position: relative;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.center {
    text-align: center;
}

.element {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 3px solid #555;
}

.button {
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    transition-duration: 0.25s;
}

.button:hover {
    border: 3px solid black;
}

.button:active {
    background-color: var(--bg-color);
}

input[type=text] {
    border-radius: 8px;
    outline: none;

    transition-duration: 0.35s;

    width: auto;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
}

input[type=text]:focus {
    border: 3px solid black;
}